{
  "env": {
    "development": {
      "presets": [
        [
          "env",
          {
            "targets": {
              "browsers": [
                "last 2 versions",
                "ie >= 11"
              ]
            },
            "useBuiltIns": "usage",
            "modules": false,
            "cacheDirectory": true,
            "debug": true
          }
        ]
      ],
      "plugins": [
        "transform-runtime"
      ]
    },
    "production": {
      "presets": [
        [
          "env",
          {
            "targets": {
              "browsers": [
                "last 2 versions",
                "ie >= 11"
              ]
            },
            "useBuiltIns": "usage",
            "modules": false
          }
        ]
      ]
    }
  }
}